DATABASE_URL_ADMIN="postgresql://postgres:postgres@localhost:5432/smartpddb2025?schema=public"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smartpddb2025?schema=public"
DATABASE_AUTHDB_URL="postgresql://postgres:postgres@localhost:5432/smartpddb2025-auth?schema=public"
